* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
li{
  list-style: none;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 1rem;
}
.box {
  border: 2px solid #d6bcfa;
  height: 500px;
  border-radius: 10px;
}
h1,
h2 {
  text-align: center;
}
.flex{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
.flex-30{
  flex: 0 1 30%;
}

header{
  background-color: #4075D5;
  padding: 24px;
  color: white;
}

.people{
  box-shadow: 0 5px 5px 5px #ECEDF0;
  padding: 18px;
  border-radius: 5px;
  text-align: center;
  margin: 12px;
}
.people h2{
  font-size: 18px;
  margin-left: 18px;
  width: 75%;
  text-align: left;
}
.people img{
  border-radius: 50%;
  border: 2px solid #34836B;
}
.people p{
  margin: 12px 0;
  font-size: 15px;
}
.people button{
  padding: 7px 37%;
  border: none;
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
  background-color: #E7EDFD;
  color: rgb(89,109,208);
}